  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --bgcolorheader: rgb(40, 40, 40);
    --bgcolor: #160b1e;
    --textcolor0: rgb(185 130 255);
    --textcolor: white;
    --textcolor2: rgb(125, 82, 182);       
}

html{
    overflow-x: hidden;
    font-size: 50%;
}

body {
    background: var(--bgcolor);
    color: var(--textcolor);
}

header{
    top: 0;
    left: 0;
    position: fixed;
    background: transparent;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 2rem 9%;
    z-index: 100;
    background: var(--bgcolorheader);
}

.logo{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--textcolor)
} 

.navbar a {
    font-size: 1.7rem;
    color: var(--textcolor);
    font-weight: 400;
    margin-left: 3.5rem;
    transition: 0.3s;
}

.navbar a:hover, 
.navbar a.active {
    color: var(--textcolor2);
}

#menu {
    font-size: 3.6rem;
    color: var(--textcolor);
    cursor: pointer;
    display: none;
}

section {
    padding: 10rem 9% 2rem;
    min-height: 100vh;
}

span{
    color: var(--textcolor0);
}

.first-section{
    display: flex;
    align-items: center;
    padding: 0 9%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: url(images/bg-section-1-transparent-top.webp)no-repeat;
    background-size: 60% 100%;
    background-position: right;
    
}

.first-section-content{
    max-width: 60rem;
}

.first-section-content h1 {
    font-size: 4.6rem;
    font-weight: 600;
    line-height: 1.3;
}

.first-section-content .text-animate {
    position: relative;
    width: 41.4rem;
}

.first-section-content .text-animate h3{
    font-size: 3.2rem;
    font-weight: 500;
    color: transparent;
    -webkit-text-stroke: 1.0px var(--textcolor0);
}

.first-section-content p{
    font-size: 1.8rem;
    margin: 2rem 0 4rem;
}

.btn-box {
    position: relative;
    display: flex;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 100%;
    background-color: var(--textcolor2);
    border: 0.5rem solid var(--textcolor2);
    border-radius: 0.8rem;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--textcolor);
    z-index: 1;
    overflow: hidden;
}

.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--bgcolor);
    z-index: -1;
    transition: 0.5s;
}

.btn-box .btn:hover::before{
    width: 100%;
}

.first-section-icon{
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.first-section-icon a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 0.2rem solid var(--textcolor2);
    border-radius: 50%;
    font-size: 20px;
    color: var(--textcolor2);
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.first-section-icon a:hover{
    color: var(--textcolor);
}

.first-section-icon a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--textcolor2);
    z-index: -1;
    transition: 0.5s;
}

.first-section-icon a:hover::before{
    width: 100%;
}

.sobre{
    background: url(images/bg-section-1-transparent-bottom.webp)no-repeat;
    background-size: 60% 100%;
    background-position: right;
}

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 6rem;

}

.titulo{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.img-sobre{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-sobre img{
    width: 90%;
    border-radius: 50%;
    border: 0.2rem solid var(--textcolor2);
}

.img-sobre .circle-img{
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50% -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top:0.2rem solid var(--bgcolor);
    border-bottom:0.2rem solid var(--bgcolor);
    border-left:0.2rem solid var(--textcolor2);
    border-right:0.2rem solid var(--textcolor2);
}

.sobre-content{
    text-align: center;
}

.sobre-content h3{
    font-size: 3rem;
}

.sobre-content p{
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
}

.btn-box.btnsecond{
    width: 34.5rem;
    display: inline-block;
}

.experiencia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .experiencia-title {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  .experiencia-entry {
    position: relative;
    margin-bottom: 40px;
    padding-left: 20px;
    width: 50%;
  }

  .experiencia-entry::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--textcolor2);
  }

  .experiencia-date {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.4rem;
  }

  .experiencia-content {
    background-color: var(--textcolor2);
    padding: 20px;
    border-radius: 5px;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
  }

  .experiencia-icon {
    padding-right: 2rem;;
    font-size: 3.5rem;
}

@media (max-width: 900px){
    .experiencia-entry{
        width:100%;
    }
    .experiencia-content{
        height: 15vh;
    }
    .first-section{
        background:url(images/bg-section-1-transparent.webp) no-repeat;
        background-position-x: right;
        background-position-y: top;
        background-size: 28%;
    }
    .sobre{
        background: none;
    }
}

.habilidades{
    min-width: auto;
    padding-top: 15rem;
    background: #13091c;
}

.titulo-habilidades{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.habilidades .linha-habilidades{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.linha-habilidades .coluna-habilidades{
    flex: 1 1 40rem;
}

.box-habilidades .content-habilidade{
    position: relative;
    border: 0.2rem solid var(--textcolor0);
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
}

.content-habilidade .progress{
    padding: 1rem 0;
}

.content-habilidade .progress h3{
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
}

.content-habilidade .progress h3 span{
    color: var(--textcolor);
}

.content-habilidade .progress .bar{
    height: 2.5rem;
    border-radius: 0.6rem;
    border: 0.2rem solid var(--textcolor0);
    padding: 0.5rem;
    margin: 1rem 0;
}

.content-habilidade .progress .bar span{
    display: block;
    height: 100%;
    border-radius: 0.3rem;
    background: var(--textcolor0);
}

.coluna-habilidades:nth-child(1) .content-habilidade .progress:nth-child(1) .bar span{
    width: 90%;
}

.coluna-habilidades:nth-child(1) .content-habilidade .progress:nth-child(2) .bar span{
    width: 95%;
}

.coluna-habilidades:nth-child(1) .content-habilidade .progress:nth-child(3) .bar span{
    width: 88%;
}

.coluna-habilidades:nth-child(1) .content-habilidade .progress:nth-child(4) .bar span{
    width: 75%;
}

.coluna-habilidades:nth-child(1) .content-habilidade .progress:nth-child(5) .bar span{
    width: 95%;
}

.coluna-habilidades:nth-child(2) .content-habilidade .progress:nth-child(1) .bar span{
    width: 90%;
}

.coluna-habilidades:nth-child(2) .content-habilidade .progress:nth-child(2) .bar span{
    width: 95%;
}

.coluna-habilidades:nth-child(2) .content-habilidade .progress:nth-child(3) .bar span{
    width: 95%;
}

.coluna-habilidades:nth-child(2) .content-habilidade .progress:nth-child(4) .bar span{
    width: 90%;
}

.coluna-habilidades:nth-child(2) .content-habilidade .progress:nth-child(5) .bar span{
    width: 85%;
}

.contato{
    min-width: auto;
    padding-top: 15rem;
    background: url(images/bg-section-footer.webp)no-repeat;
    background-size: 60% 100%;
    background-position: left;
}

.titulo-contato{
    font-size: 5rem;
    margin-bottom: 10rem;
    text-align: center;
}

.contato-icon {
    margin: 0 auto;
    width: 300px;
    display: flex;
    justify-content: center;
    gap: 8rem; 
}

.contato-icon a{
    position: relative;
    font-size: 40px;
    border: solid 0.2rem var(--textcolor2);
    color: var(--textcolor2);
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.contato-icon a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--textcolor2);
    z-index: -1;
    transition: 0.5s;
}

.contato-icon a:hover{
    color: var(--textcolor);
}

.contato-icon a:hover::before{
    width: 100%;
}

@media (max-width: 900px) {
    .contato {
      background-size: 60%;
      background-position-x: left;
      background-position-y: bottom;
      min-height: 70vh;
    }
  }

@media (max-width:350px){
    .first-section{
        background:none;
    }
    .sobre{
        background: none;
    }
    .contato {   
        background: none;
    }
}

.footer {
    background: var(--bgcolorheader);
    justify-content: space-between;
    display: flex;
    padding: 2rem 9%;
    align-items: center;
  }
  
  .content-footer {
    text-align: center;
    width: 100%;
  }
  
  .footer-icontop {
    text-align: right;
  }

  .footer-icontop a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--textcolor2);
    border: 0.5rem solid var(--textcolor2);
    border-radius: 0.6rem;
    z-index: 1;
    overflow: hidden;
  }

  .footer-icontop a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bgcolorheader);
    z-index: -1;
    transition: 0.5s;
  }

  .footer-icontop a:hover::before{
    width: 100%;
  }

  .footer-icontop a i{
    font-size: 2.4rem;
    color: var(--textcolor);
    transition: 0.5s;
  }
  
  .content-footer p {
    font-size: 1.7rem;
  }