  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --bgcolor: black;
    --textcolor: white;
    --textcolor2: purple;       
}

html{
    overflow-x: hidden;
    font-size: 50%;
}

body {
    background: var(--bgcolor);
    color: var(--textcolor);
}

header{
    top: 0;
    left: 0;
    position: fixed;
    background: transparent;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 2rem 9%;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--textcolor)
} 

.navbar a {
    font-size: 1.7rem;
    color: var(--textcolor);
    font-weight: 400;
    margin-left: 3.5rem;
    transition: 0.3s;
}

.navbar a:hover, 
.navbar a.active {
    color: var(--textcolor2);
}

#menu {
    font-size: 3.6rem;
    color: var(--textcolor);
    cursor: pointer;
    display: none;
}

section {
    padding: 10rem 9% 2rem;
    min-height: 100vh;
}

.first-section{
    display: flex;
    align-items: center;
    padding: 0 9%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.first-section-content{
    max-width: 60rem;
}

.first-section-content h1 {
    font-size: 4.6rem;
    font-weight: 600;
    line-height: 1.3;
}

.first-section-content .text-animate {
    position: relative;
    width: 41.4rem;
}

.first-section-content .text-animate h3{
    font-size: 3.2rem;
    font-weight: 500;
    color: transparent;
    -webkit-text-stroke: 0.7px var(--textcolor2);
}

.first-section-content p{
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background-color: var(--textcolor2);
}