  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --bgcolor: black;
    --textcolor: white;
    --textcolor2: purple;       
}

html{
    overflow-x: hidden;
    font-size: 50%;
}

body {
    background: var(--bgcolor)
}

header{
    top: 0;
    left: 0;
    position: fixed;
    background: transparent;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 2rem 9%;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--textcolor)
} 

.navbar a {
    font-size: 1.7rem;
    color: var(--textcolor);
    font-weight: 400;
    margin-left: 3.5rem;
    transition: 0.3s;
}

.navbar a:hover, 
.navbar a.active {
    color: var(--textcolor2);
}

#menu {
    font-size: 3.6rem;
    color: var(--textcolor);
    cursor: pointer;
    display: none;
}